<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Binary 2048</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .grid-container {
      font-size: 0;
    }

    .row {
      border-radius: 10px;
      display: block;
      border: 5px solid #5d5a48;
      background-color: #5d5a48;
      font-size: 0;
      margin-bottom: -10px;
      width: 53rem;
    }

    .emphasis {
      background-color: #C2EEF3 !important;
    }

    .cell {
      border-radius: 10px;
      vertical-align: middle;
      display: inline-block;
      padding: 5px;
      font-size: 2rem;
      margin: 0;
      border: 5px solid #5d5a48;
      background: #FED2D2;
      width: 12rem;
      color: #6D7E91;
      height: 12rem;
      min-width: 12rem;
      min-height: 12rem;
      text-align: center;
      line-height: 12rem;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="container" @keyup.up="up()" @keyup.down="down()" @keyup.left="left()" @keyup.right="right()">
    점수 : {{ score }}
    <div class="game-container">
      <div class="grid-container">
        <div class="row" v-for="item in grid">
          <div class="cell" v-for="cell in item" :class="cell?'':'emphasis'">{{cell}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      score: 0,
      fail_count: 0,
      grid: [['', '', '', ''], ['', '', '', ''], ['', '', '', ''], ['', '', '', '']],
      gridChanged: [[false, false, false, false], [false, false, false, false], [false, false, false, false], [false, false, false, false]]
    },
    methods: {
      scoreUp(num) {
        this.score = this.score + num;
      },
      up() {
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        let isChanged = false;
        const gridKeys = Object.keys(this.grid).reverse();
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) > 0) {
            const nextRow = this.grid[parseInt(key) - 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) {
                  const sum = parseInt(nowValue) + parseInt(nextValue);
                  this.scoreUp(sum);
                  this.$set(nextRow, index, sum);
                  this.$set(row, index, '');
                  this.$set(this.gridChanged[parseInt(key)], index, true);
                  this.$set(this.gridChanged[parseInt(key) - 1], index, true);
                  isChanged = true;
                }
              }
            });
          }
        });
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) > 0) {
            const nextRow = this.grid[parseInt(key) - 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(nextRow, index, nowValue);
                  this.$set(row, index, '');
                }
              }
            });
          }
        });
        if (isChanged) this.create();
      },
      down() {
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        let isChanged = false;
        const gridKeys = Object.keys(this.grid);
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) < 3) {
            const nextRow = this.grid[parseInt(key) + 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) {
                  const sum = parseInt(nowValue) + parseInt(nextValue);
                  this.scoreUp(sum);
                  this.$set(nextRow, index, sum);
                  this.$set(row, index, '');
                  this.$set(this.gridChanged[parseInt(key)], index, true);
                  this.$set(this.gridChanged[parseInt(key) + 1], index, true);
                  isChanged = true;
                }
              }
            });
          }
        });
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) < 3) {
            const nextRow = this.grid[parseInt(key) + 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(nextRow, index, nowValue);
                  this.$set(row, index, '');
                }
              }
            });
          }
        });
        if (isChanged) this.create();
      },
      left() {
        // let count = false;
        // Object.keys(this.grid).forEach((temp) => {
        //   const index = parseInt(temp);
        //   const arr = this.grid[index];
        //   if (index > 0) Object.keys(arr).reverse().forEach((temp, idx) => {
        //     let v = parseInt(arr[temp]);
        //     const k = this.grid[index][idx - 1] === '' ? 0 : this.grid[index][idx - 1];
        //     if (!isNaN(v) && v !== 0 && v === k) {
        //       this.$set(this.grid[index], idx - 1, k + v);
        //       this.$set(arr, idx, '');
        //       count = true;
        //     }
        //   });
        // });
        // if (count = true) this.create();
        // else this.fail_count++;
      },
      right() {
        // let count = false;
        // Object.keys(this.grid).forEach((temp) => {
        //   const index = parseInt(temp);
        //   const arr = this.grid[index];
        //   if (index < 3) Object.keys(arr).forEach((temp, idx) => {
        //     let v = parseInt(arr[temp]);
        //     const k = this.grid[index][idx + 1] === '' ? 0 : this.grid[index][idx + 1];
        //     if (!isNaN(v) && v !== 0 && v === k) {
        //       console.log(v, k);
        //       this.$set(this.grid[index], idx + 1, k + v);
        //       this.$set(arr, idx, '');
        //       count = true;
        //     }
        //   });
        // });
        // if (count = true) this.create();
        // else this.fail_count++;
      },
      onKey(event) {
        if (event.key === 'ArrowDown') this.down();
        else if (event.key === 'ArrowUp') this.up();
        else if (event.key === 'ArrowLeft') this.left();
        else if (event.key === 'ArrowRight') this.right();
        this.score = this.grid.reduce((p, v, i) => {
          const arrSum = v.reduce((p, v) => p + isNaN(parseInt(v)) ? 0 : parseInt(v), 0);
          console.log(p, arrSum);
          return p + arrSum;
        }, 0);
      },
      create() {
        let count = 0;
        while (count++ <= 16) {
          const random = Math.floor(Math.random() * 16) % 16;
          let y = 0;
          if (random >= 12) y = 3;
          else if (random >= 8) y = 2;
          else if (random >= 4) y = 1;
          if (this.grid[y][random % 4] === '' || this.grid[y][random % 4] === 0) {
            this.$set(this.grid[y], random % 4, 2);
            break;
          }
        }
      }
    },
    created() {
      this.create();
      this.create();
      window.addEventListener('keydown', this.onKey)
    }
  });
</script>
</body>
</html>