<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Binary 2048</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
  <style>
    .grid-container {
      font-size: 0;
    }

    body {
      font-family: 'Audiowide', cursive;
      display: flex;
      justify-content: center;
      margin: 20px;
    }

    .container {
      margin: auto;

    }

    .level-10 {

      background: #90fea7 !important;
    }

    .level-100 {

      background: #febb86 !important;
    }

    .level-1000 {

      background: #feaad9 !important;
    }

    .head-container {
      padding: 20px;
    }

    h1 {
      font-size: 4rem;
    }

    .game-container {
      margin: 20px;
    }

    .score-container {
      float: right;
      text-align: center;
      border: 8px solid #5d5a48;
      padding: 20px;
      border-radius: 10px;
      min-width: 6rem;
    }

    .score-title {
      font-size: 1.5rem;
    }

    .score {
      font-size: 2rem;
    }

    .row {
      /*border-radius: 10px;*/
      display: block;
      border: 5px solid #5d5a48;
      background-color: #5d5a48;
      font-size: 0;
      margin-bottom: -10px;
      /*width: 53rem;*/
      width: 105rem;
    }

    .emphasis {
      background-color: #C2EEF3 !important;
    }

    .cell {
      font-weight: 900;
      border-radius: 10px;
      vertical-align: middle;
      display: inline-block;
      padding: 5px;
      font-size: 2rem;
      margin: 0;
      border: 5px solid #5d5a48;
      background: #FED2D2;
      width: 25rem;
      color: #6D7E91;
      height: 10rem;
      min-width: 25rem;
      min-height: 10rem;
      text-align: center;
      line-height: 10rem;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="container" @keyup.up="up()" @keyup.down="down()" @keyup.left="left()" @keyup.right="right()">
    <div class="head-container">
      <h1 style="display:inline-block;">{{gameOver?'GAME OVER!':'Binary2048'}}</h1>
      <div class="score-container" style="margin-left:25px;height:4.5rem;" @click="restart()">
        <div class="score-title" style="line-height: 4.5rem">RESTART</div>
      </div>
      <div class="score-container" style="margin-left:25px;">
        <div class="score-title">Best</div>
        <div class="score">{{ best }}</div>
      </div>
      <div class="score-container">
        <div class="score-title">Score</div>
        <div class="score">{{ score }}</div>
      </div>
    </div>
    <div class="game-container">
      <div class="grid-container">
        <div class="row" v-for="item in grid">
          <div class="cell" v-for="cell in item"
               :class="[cell!==''?(parseInt(cell)<10?'':(parseInt(cell)<100?'level-10':(parseInt(cell)<1000?'level-100':'level-1000'))):'emphasis']">
            <span style="max-width:25rem;word-wrap: break-word;">{{cell}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      score: 0,
      best: localStorage.getItem('best'),
      fail_count: 4,
      gameOver: false,
      grid: [['', '', '', ''], ['', '', '', ''], ['', '', '', ''], ['', '', '', '']],
      gridChanged: [[false, false, false, false], [false, false, false, false], [false, false, false, false], [false, false, false, false]]
    },
    methods: {
      up() {
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        const gridKeys = Object.keys(this.grid).reverse();
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) > 0) {
            const nextRow = this.grid[parseInt(key) - 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(nextRow, index, nowValue);
                  this.$set(row, index, '');
                }
              }
            });
          }
        }));
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) > 0) {
            const nextRow = this.grid[parseInt(key) - 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) {
                  const sum = parseInt(nowValue) + (isNaN(parseInt(nextValue)) ? 0 : parseInt(nextValue));
                  this.score += sum;
                  this.$set(nextRow, index, sum);
                  this.$set(row, index, '');
                  this.$set(this.gridChanged[parseInt(key)], index, true);
                  this.$set(this.gridChanged[parseInt(key) - 1], index, true);
                  this.fail_count--;
                }
              }
            });
          }
        });
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) > 0) {
            const nextRow = this.grid[parseInt(key) - 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(nextRow, index, nowValue);
                  this.$set(row, index, '');
                }
              }
            });
          }
        }));
      },
      down() {
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        const gridKeys = Object.keys(this.grid);
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) < 3) {
            const nextRow = this.grid[parseInt(key) + 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(nextRow, index, nowValue);
                  this.$set(row, index, '');
                }
              }
            });
          }
        }));
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) < 3) {
            const nextRow = this.grid[parseInt(key) + 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) {
                  const sum = parseInt(nowValue) + (isNaN(parseInt(nextValue)) ? 0 : parseInt(nextValue));
                  this.score += sum;
                  this.$set(nextRow, index, sum);
                  this.$set(row, index, '');
                  this.$set(this.gridChanged[parseInt(key)], index, true);
                  this.$set(this.gridChanged[parseInt(key) + 1], index, true);
                  this.fail_count--;
                }
              }
            });
          }
        });
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) < 3) {
            const nextRow = this.grid[parseInt(key) + 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(nextRow, index, nowValue);
                  this.$set(row, index, '');
                }
              }
            });
          }
        }));
      },
      left() {
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        const gridKeys = Object.keys(this.grid);
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) > 0) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index - 1];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(row, index - 1, nowValue);
                  this.$set(row, index, '');
                }
              }
            }
          });
        }));
        gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) > 0) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index - 1];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) {
                  const sum = parseInt(nowValue) + (isNaN(parseInt(nextValue)) ? 0 : parseInt(nextValue));
                  this.score += sum;
                  this.$set(row, index - 1, sum);
                  this.$set(row, index, '');
                  this.$set(this.gridChanged[parseInt(key)], index - 1, true);
                  this.$set(this.gridChanged[parseInt(key)], index, true);
                  this.fail_count--;
                }
              }
            }
          });
        });
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) > 0) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index - 1];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(row, index - 1, nowValue);
                  this.$set(row, index, '');
                }
              }
            }
          });
        }));
      },
      right() {
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        const gridKeys = Object.keys(this.grid);
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) < 3) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index + 1];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(row, index + 1, nowValue);
                  this.$set(row, index, '');
                }
              }
            }
          });
        }));
        gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) < 3) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index + 1];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) {
                  const sum = parseInt(nowValue) + (isNaN(parseInt(nextValue)) ? 0 : parseInt(nextValue));
                  this.score += sum;
                  this.$set(row, index + 1, sum);
                  this.$set(row, index, '');
                  this.$set(this.gridChanged[parseInt(key)], index + 1, true);
                  this.$set(this.gridChanged[parseInt(key)], index, true);
                  this.fail_count--;
                }

              }
            }
          });
        });
        [0, 0, 0].forEach(() => gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) < 3) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index + 1];
              if (nowValue !== '') {
                if (nextValue === '') {
                  this.$set(row, index + 1, nowValue);
                  this.$set(row, index, '');
                }
              }
            }
          });
        }));
      },
      onKey(event) {
        if (event.key.includes('Arrow')) {
          if (event.key === 'ArrowDown') this.down();
          else if (event.key === 'ArrowUp') this.up();
          else if (event.key === 'ArrowLeft') this.left();
          else if (event.key === 'ArrowRight') this.right();
          const best = localStorage.getItem('best');
          const temp = best => best ? best < this.score : true;
          if (temp(best)) localStorage.setItem('best', this.score);
          this.best = localStorage.getItem('best');
          if (this.check()) this.create();
          else {
            this.gameOver = true;
          }
        }
      },
      restart() {
        this.gameOver = false;
        this.grid.forEach(arr => arr.forEach((v, index) => this.$set(arr, index, '')));
        this.create();
        this.create();
      },
      check() {
        let canMove = false;
        this.gridChanged.forEach(v => {
          v.forEach((temp, index) => {
            this.$set(v, index, false);
          });
        });
        const gridKeys = Object.keys(this.grid);
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) > 0) {
            const nextRow = this.grid[parseInt(key) - 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) canMove = true;

              }
            });
          }
        });
        gridKeys.forEach(key => {
          const row = this.grid[key];
          if (parseInt(key) < 3) {
            const nextRow = this.grid[parseInt(key) + 1];
            row.forEach((v, index) => {
              let nowValue = v;
              let nextValue = nextRow[index];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) canMove = true;
              }
            });
          }
        });
        gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) > 0) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index - 1];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) canMove = true;
              }
            }
          });
        });
        gridKeys.forEach(key => {
          const row = this.grid[key];
          Object.keys(row).reverse().forEach(v => {
            if (parseInt(v) < 3) {
              const index = parseInt(v);
              let nowValue = row[v];
              let nextValue = row[index + 1];
              if (nowValue !== '') {
                if (nowValue === nextValue && !this.gridChanged[parseInt(key)][index]) canMove = true;
              }
            }
          });
        });
        gridKeys.forEach(key => this.grid[key].forEach(v => v === '' ? canMove = true : 0));
        return canMove;
      },
      create() {
        let count = 0;
        let created = false;
        while (count++ <= 16) {
          const random = Math.floor(Math.random() * 16) % 16;
          let y = 0;
          if (random >= 12) y = 3;
          else if (random >= 8) y = 2;
          else if (random >= 4) y = 1;
          if (this.grid[y][random % 4] === '' || this.grid[y][random % 4] === 0) {
            this.$set(this.grid[y], random % 4, Math.random() < 0.9 ? 2 : 4);
            created = true;
            break;
          }
        }
      }
    },
    created() {
      this.gameOver = false;
      this.create();
      this.create();
      window.addEventListener('keydown', this.onKey);
    }
  });
</script>
</body>
</html>